<%- include('./partials/login-header') %> 
    <div class="login-form">
      <form action="/login" method="post">
        <h2 class="text-center">Sign in</h2>
        <div class="text-center social-btn">
          <a href="/auth/facebook" class="btn btn-facebook btn-block"
            ><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a
          >
          <a href="/auth/github" class="btn btn-info btn-github btn-block"
            ><i class="fa fa-github"></i> Sign in with <b>Github</b></a
          >
          <a href="/auth/google" class="btn btn-google btn-block"
            ><i class="fa fa-google"></i> Sign in with <b>Google</b></a
          >
        </div>
        <div class="or-seperator"><i>or</i></div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-user"></span>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="Username"
              required="required"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock"></i>
              </span>
            </div>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              required="required"
            />
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block login-btn">
            Sign in
          </button>
        </div>
        <div class="clearfix">
          <label class="float-left form-check-label"
            ><input type="checkbox" /> Remember me</label
          >
          <a href="#" class="float-right text-primary">Forgot Password?</a>
        </div>
      </form>
      <div class="hint-text">
        Don't have an account?
        <a href="register" class="text-primary">Register Now!</a>
      </div>
    </div>
  </body>
</html>
